@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
:root {
  --background: oklch(0.98 0.003 270); /* zinc-50 */
  --foreground: oklch(0.26 0.008 270); /* zinc-900 */
  --card: oklch(0.98 0.003 270); /* zinc-50 */
  --card-foreground: oklch(0.26 0.008 270); /* zinc-900 */
}

.dark {
  --background: oklch(0.2 0.006 270); /* zinc-950 */
  --foreground: oklch(0.91 0.005 270); /* zinc-100 */
  --card: oklch(0.2 0.006 270); /* zinc-950 */
  --card-foreground: oklch(0.91 0.005 270); /* zinc-100 */
}

html * {
  transition: background-color 0.5s ease-in-out;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
